

/*** ONGLETS RÉTRACTABLES ***/

details.callout[data-callout="foldable"] {
  background: none;
  position: relative;
}

details.callout[data-callout="foldable"] .callout-icon {
  display: none;
}

details.callout[data-callout="foldable"] summary.callout-title {
  display: flex;
  align-items: center;
  font-weight: bold !important;
  color: var(--h1-color);
  font-size: var(--h1-size) !important;
  border-bottom: 2px solid var(--background-modifier-border);
  padding-bottom: 0.4em;
  margin-bottom: 1em;
  position: relative;
  padding-left: 1.5em; /* laisse de la place pour la flèche */
  cursor: pointer;
}

details.callout[data-callout="foldable"] .internal-embed:not(.image-embed) {
    display: block;
    border-bottom: 2px solid var(--background-modifier-border);
    padding-bottom: 0.4em;
}

details.callout[data-callout="foldable"] .callout,
.callout * {
  border-left: none !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  box-shadow: none !important;
  outline: none !important;
}

details.callout[data-callout="foldable"] summary.callout-title::after {
  content: "▸";
  position: relative;
  left: 0.4em;
  font-size: 0.9em;
  transition: transform 0.2s ease;
  opacity: 0.8;
}

/* Quand le bloc est ouvert, on fait pivoter la flèche */
details.callout[data-callout="foldable"][open] summary.callout-title::after {
  transform: rotate(90deg);
}


/* Quand le bloc est ouvert, on fait pivoter la flèche */
details.callout[data-callout="foldable"][open] summary.callout-title::before {
  transform: rotate(90deg);
}


/*** ------------------------------- ***/

/*** BACKGROUND + TRANSPARENT ***/

/* Image */
body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgba(0, 0, 0, 1); /* assombrit par-dessus le flou */
  /*color: white;*/
  z-index: 1;
}

/* Blur */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url("https://i.pinimg.com/736x/4e/e5/b7/4ee5b7b92f26439362eecedf4735ef0a.jpg") no-repeat center center;
  background-size: cover;
  filter: blur(10px);
  z-index: -1;
}

/* Dark */
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

/*** ------------------------------- ***/

/*** TEXTE CUSTOM ***/

/* ✨ Texte en italique */
em, i {
  color: #00ffff !important;
  font-style: italic;
}

/* 💪 Texte en gras */
strong, b {
  color: var(--interactive-accent) !important;
  font-weight: bold;
}

.markdown-rendered hr {
    border: none;
    border-top: var(--hr-thickness) solid;
    border-color: rgba(255, 255, 255, 0.2);
}

/*** ------------------------------- ***/

/*** TAGS ***/
a.tag, .editor .cl-hashtag {
    margin: 0.2em !important;
}

/*** ------------------------------- ***/

/*** LINKS ***/

.markdown-embed-link {
  display: none !important;
}

.markdown-preview-view .callout[data-callout="quote"] .markdown-embed {
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;
  position: relative !important;
}

/*** ------------------------------- ***/

/*** Wikipedia Infobox ***/

/* @settings
name: Infobox
id: infobox
settings:
    - 
        id: infobox-enabled
        title: Enable Infobox
        type: class-toggle
        description: Enable infoboxes.
        default: true
    - 
        id: infobox-width
        title: Width
        description: Maximum width of the infobox, in pixels.
        type: variable-number-slider
        default: 256
        min: 192
        max: 384
        step: 1
        format: px
    - 
        id: infobox-hide-thead
        title: Hide table headers
        type: class-toggle
        description: Hides table header rows inside of infoboxes.
        default: true
*/

body.infobox-enabled,
body:not(.css-settings-manager) {
    --infobox-font-size: var(--font-smaller);
    --infobox-gap: 16px;
    --infobox-width: 256px;
}

body.infobox-enabled .cm-sizer:has([data-callout="infobox"]),
body:not(.css-settings-manager) .cm-sizer:has([data-callout="infobox"]),
body.infobox-enabled .markdown-preview-sizer:has([data-callout="infobox"]),
body:not(.css-settings-manager) .markdown-preview-sizer:has([data-callout="infobox"]) {
    --callout-padding: var(--size-4-2);
    --file-line-width: calc(700px + var(--infobox-width));
    --list-spacing: 0.125em;
    --table-header-size: 1em;
}

body.infobox-enabled .cm-callout:has([data-callout="infobox"]) .edit-block-button,
body:not(.css-settings-manager) .cm-callout:has([data-callout="infobox"]) .edit-block-button {
    display: none !important;
}

body.infobox-enabled [data-callout="infobox"],
body:not(.css-settings-manager) [data-callout="infobox"] {
    /*background: transparent;*/
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--background-modifier-border);
    font-size: var(--infobox-font-size);
    margin: 0 auto;
    /*margin: 15px;*/
    padding: 10px;
    /*width: var(--infobox-width);*/
    /*float: right;*/
}

body.infobox-enabled [data-callout="infobox"] .callout-title,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-title {
    display: none !important;
}

body.infobox-enabled [data-callout="infobox"] .callout-content,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content {
    background: transparent;
}

body.infobox-enabled [data-callout="infobox"] .edit-block-button,
body:not(.css-settings-manager) [data-callout="infobox"] .edit-block-button {
    display: none;
}

body.infobox-enabled [data-callout="infobox"] .callout-content h2,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content h2 {
    font-size: 1.25em;
    margin: 0 0 var(--size-4-2);
    text-align: center;
}

body.infobox-enabled [data-callout="infobox"] .callout-content h3,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content h3 {
    /*background: var(--background-secondary);*/
    background: rgba(0, 0, 0, 0.2);
    font-size: 1.0625em;
    margin: var(--size-4-1) 0 !important;
    padding: var(--size-2-1) var(--size-2-2);
    text-align: center;
}

body.infobox-enabled [data-callout="infobox"] .callout-content table,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content table,
body.infobox-enabled [data-callout="infobox"] .callout-content p,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content p,
body.infobox-enabled [data-callout="infobox"] .callout-content ol,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content ol,
body.infobox-enabled [data-callout="infobox"] .callout-content ul,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content ul {
    margin: var(--size-4-2) 0;
}

body.infobox-enabled [data-callout="infobox"] .callout-content table,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content table {
    width: 100%;
}

body.infobox-enabled.infobox-hide-thead [data-callout="infobox"] .callout-content thead,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content thead {
    display: none;
}

body.infobox-enabled [data-callout="infobox"] .callout-content thead tr,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content thead tr {
    border-bottom: 1px solid var(--background-modifier-border);
}

body.infobox-enabled [data-callout="infobox"] .callout-content td,
body.infobox-enabled [data-callout="infobox"] .callout-content th,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content td,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content th {
    border-width: 0 !important;
    padding: var(--list-spacing) 0 var(--list-spacing) var(--callout-padding);
    width: 65%;
}

body.infobox-enabled [data-callout="infobox"] .callout-content td:first-child,
body.infobox-enabled [data-callout="infobox"] .callout-content th:first-child,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content td:first-child,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content th:first-child {
    font-weight: bold;
    padding: 6px; /* table space between column 1 and 2 */
    text-align: right;
    width: 35%;
}

/* Texte */
body.infobox-enabled [data-callout="infobox"] .callout-content p,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content p {
    text-align: center;
    font-size: 0.8em;
}

body.infobox-enabled [data-callout="infobox"] .callout-content li,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content li {
    line-height: var(--line-height-tight);
}
body.infobox-enabled [data-callout="infobox"] .callout-content p:has(.internal-embed),
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content p:has(.internal-embed) {
    margin: 0;
}

body.infobox-enabled [data-callout="infobox"] .callout-content  .internal-embed,
body:not(.css-settings-manager) [data-callout="infobox"] .callout-content  .internal-embed {
    border-radius: 0px;
}

body.infobox-enabled:not(.is-mobile) .markdown-preview-sizer:has([data-callout="infobox"]),
body.infobox-enabled.is-tablet .markdown-preview-sizer:has([data-callout="infobox"]),
body:not(.css-settings-manager):not(.is-mobile) .markdown-preview-sizer:has([data-callout="infobox"]),
body:not(.css-settings-manager).is-tablet .markdown-preview-sizer:has([data-callout="infobox"]),
body.infobox-enabled:not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
body.infobox-enabled.is-tablet .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
body:not(.css-settings-manager):not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
body:not(.css-settings-manager).is-tablet .cm-contentContainer:has([data-callout="infobox"]) .cm-content {
    position: relative;
}
/*
body.infobox-enabled:not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
body.infobox-enabled.is-tablet .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
body:not(.css-settings-manager):not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
body:not(.css-settings-manager).is-tablet .cm-contentContainer:has([data-callout="infobox"]) .cm-content,
body.infobox-enabled:not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) + .embedded-backlinks,
body.infobox-enabled.is-tablet .cm-contentContainer:has([data-callout="infobox"]) + .embedded-backlinks,
body:not(.css-settings-manager):not(.is-mobile) .cm-contentContainer:has([data-callout="infobox"]) + .embedded-backlinks,
body:not(.css-settings-manager).is-tablet .cm-contentContainer:has([data-callout="infobox"]) + .embedded-backlinks,
body.infobox-enabled:not(.is-mobile) .markdown-preview-sizer:has([data-callout="infobox"]) > div:not(.mod-header),
body.infobox-enabled.is-tablet .markdown-preview-sizer:has([data-callout="infobox"]) > div:not(.mod-header),
body:not(.css-settings-manager):not(.is-mobile) .markdown-preview-sizer:has([data-callout="infobox"]) > div:not(.mod-header),
body:not(.css-settings-manager).is-tablet .markdown-preview-sizer:has([data-callout="infobox"]) > div:not(.mod-header) {
    //margin-right: calc(var(--infobox-width) + var(--infobox-gap));
    //position: relative;
    //margin-left: calc(var(--infobox-width) / 2);
}*/

body.infobox-enabled:not(.is-mobile) .cm-callout:has([data-callout="infobox"]),
body.infobox-enabled.is-tablet .cm-callout:has([data-callout="infobox"]),
body:not(.css-settings-manager):not(.is-mobile) .cm-callout:has([data-callout="infobox"]),
body:not(.css-settings-manager).is-tablet .cm-callout:has([data-callout="infobox"]),
body.infobox-enabled:not(.is-mobile) .markdown-preview-sizer > div:has([data-callout="infobox"]),
body.infobox-enabled.is-tablet .markdown-preview-sizer > div:has([data-callout="infobox"]),
body:not(.css-settings-manager):not(.is-mobile) .markdown-preview-sizer > div:has([data-callout="infobox"]),
body:not(.css-settings-manager).is-tablet .markdown-preview-sizer > div:has([data-callout="infobox"]) {
    /*//margin-bottom: var(--file-margins);*/
    margin-bottom: 20px;
    /*//position: absolute !important;*/
    float: right;
    /*//right: calc(-1 * (var(--infobox-width) + var(--infobox-gap)));*/
    top: 0px;
    width: var(--infobox-width);
    margin-left: 20px;
}

body.infobox-enabled:not(.is-mobile) .show-inline-title .markdown-preview-sizer > div:has([data-callout="infobox"]),
body.infobox-enabled.is-tablet .show-inline-title .markdown-preview-sizer > div:has([data-callout="infobox"]),
body:not(.css-settings-manager):not(.is-mobile) .show-inline-title .markdown-preview-sizer > div:has([data-callout="infobox"]),
body:not(.css-settings-manager).is-tablet .show-inline-title .markdown-preview-sizer > div:has([data-callout="infobox"]) {
    top: calc(var(--inline-title-size) * var(--inline-title-line-height) + 0.5em);
}
